@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bolder;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: bolder;
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: lighter;
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
}

html,
body {
  font-family: "Poppins";
}

.section-navbar {
}
.section-hero {
}
.section-hero .hero-background {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: local;
  background-position: right top;
  background-size: auto 100%;
}
.section-hero h1 {
  line-height: 1.5;
}
.section-hero p {
  margin-bottom: 2rem;
  font-size: 1.32rem;
}
.nz-text-gold {
  color: #fdcd0b;
}
.nz-btn-gold {
  color: #fff;
  background-color: #fdcd0b;
  border-color: #fdcd0b;
  border-radius: 0px;
}
.btn-outline-gold {
  color: #fdcd0b;
  border-color: #fdcd0b;
  border-radius: 0px;
}

.section-how-it-works {
}
.section {
}
.section-our-services {
}
.section-client-feed-back {
}
.section-our-partiners {
}
.section-contact-us {
}
.section-footer {
}

.footer-links {
}

.m-5rem {
  margin: 5rem;
}
